In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
rank = []
title = []
year = []
lifetime_gross = []

In [3]:
for i in range(0, 5001, 200):
    url = f"https://www.boxofficemojo.com/chart/top_lifetime_gross/?area=XWW&offset={i}"
    
    response = requests.get(url)
    soup = BeautifulSoup(response.text,'html.parser')
        
    tables = soup.find_all('table')
    table = tables[0]
        
    rows = table.find_all('tr')
        
    for row in rows[1:]:
        cols = row.find_all('td')
        rank.append(cols[0].text.strip())
        title.append(cols[1].text.strip())  # corrected this line
        year_text = cols[3].text.strip()
        years_part = year_text.split()
        for part in years_part:
            if part.isdigit() and len(part) == 4:
                year.append(part)
                break  # add break here to stop appending multiple years for a single movie
            else:
                year.append("N/A")
        
        gross_text = cols[2].text.strip().replace(',', '').replace('$', '')
        if gross_text:  # check if gross_text is not empty before appending
            lifetime_gross.append(gross_text)
        else:
            lifetime_gross.append("N/A")

In [4]:
data = {'Rank': rank, 'Title': title, 'Year': year, 'Lifetime Gross': lifetime_gross}
df = pd.DataFrame(data)

In [5]:
df

,Rank,Title,Year,Lifetime Gross
0,1,Avatar,2009,2923706026
1,2,Avengers: Endgame,2019,2799439100
2,3,Avatar: The Way of Water,2022,2320250281
3,4,Titanic,1997,2264750694
4,5,Star Wars: Episode VII - The Force Awakens,2015,2071310218
...,...,...,...,...
5195,"5,196",Doraemon the Movie: Nobita's Little Star Wars ...,2022,22044058
5196,"5,197",The Immature,2011,22043584
5197,"5,198","Me, Them and Lara",2010,22039646
5198,"5,199",Crows Zero,2007,22036607
5199,"5,200",Little Black Book,2004,22035509

In [7]:
df['Year'] = pd.to_numeric(df['Year'])
df['Lifetime Gross'] = pd.to_numeric(df['Lifetime Gross'])

In [9]:
df.to_csv("Top Highest Gross.csv")